DEBUG=True
SECRET_KEY=change-me-in-local-or-production
LICENSE_REQUIRED=False

# Torniquete / hardware local
TURNSTILE_COM_PORT=COM3

# Correo
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=NCN Gym <noreply@perfectline.local>
REPORT_EMAIL_SUBJECT_PREFIX=NCN Gym

# Produccion local en el gym
PERFECTLINE_ALLOWED_HOSTS=*
