Django==4.2.11
pytest-django==4.8.0
python-escpos==3.0a9
pyserial==3.5
Pillow==10.2.0
pytest==8.1.1

# Infrastructure WebSockets
channels==4.0.0
daphne==4.0.0
pytest-asyncio==0.23.6

# NOTA: dlib se instala manualmente en producción (Windows 7) via .whl precompilado:
#   pip install https://github.com/sachadee/Dlib/raw/main/dlib-19.24.1-cp38-cp38-win_amd64.whl
face_recognition==1.3.0
numpy
opencv-python-headless
