{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - NCN Gym</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}?v=1.2">
</head>
<body>
    <div class="split-layout">
        <div class="left-panel">
            <div class="login-box">
                <div class="logo-area">
                    <h1>NCN <span>Gym</span></h1>
                    <p style="color: #9ca3af; font-size: 0.875rem; margin-top: 0.5rem;">Ingresa tus credenciales.</p>
                </div>

                {% if form.errors %}
                <div class="error-msg">
                    Usuario o contraseña incorrectos. Verifica tus datos.
                </div>
                {% endif %}

                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_username">Usuario</label>
                        <input type="text" name="username" id="id_username" required autofocus placeholder="Ej. gymrasse">
                    </div>
                    
                    <div class="form-group">
                        <label for="id_password">Contraseña</label>
                        <input type="password" name="password" id="id_password" required placeholder="Ej. 123456">
                    </div>

                    <button type="submit" class="btn-submit">Ingresar</button>
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>
        </div>
        <div class="right-panel"></div>
    </div>
</body>
</html>
