{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - PerfectLine II</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>
    <div class="badge">Acceso Autorizado</div>
    <h1>Bienvenido a Perfect<span>Line II</span></h1>
    <div class="user-info">Sesión iniciada como: <strong>{{ user.username }}</strong></div>
    
    <form action="{% url 'logout' %}?next=/login/" method="post">
        {% csrf_token %}
        <button type="submit" class="btn-logout">Cerrar Sesión Segura</button>
    </form>
</body>
</html>
